<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Knowledge Base</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Apex template Knowledge Base starts -->
<section id="kb">
  <div class="row">
      <div class="col-xl-4 col-lg-12" *ngFor="let t_categories of specs_labels_all">
        <div class="card">
          <div class="card-header">
            <i class="{{ GetFilteredCategoryDetails(t_categories).category_icon }} font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">{{ t_categories }}</h4>
            <p class="card-text"> {{ GetFilteredCategoryDetails(t_categories).category_details }} </p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <div *ngFor="let t_entries of GetFiltered(t_categories)">
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, t_categories, t_entries.feature_name)">
                    <span class="badge {{ t_entries.feature_color }} float-left mr-2">
                      <i class="ft-file-text text-white"></i>
                    </span> {{ t_entries.feature_name }} 
                  </li>
               </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-4 col-lg-12" *ngFor="let t_categories of specs_labels_lower">
        <div class="card">
          <div class="card-header">
            <i class="{{ GetFilteredCategoryDetails(t_categories).category_icon }} font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">{{ t_categories }}</h4>
            <p class="card-text"> {{ GetFilteredCategoryDetails(t_categories).category_details }} </p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <div *ngFor="let t_entries of GetFiltered(t_categories)">
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, t_categories, t_entries.feature_name)">
                    <span class="badge {{ t_entries.feature_color }} float-left mr-2">
                      <i class="ft-file-text text-white"></i>
                    </span> {{ t_entries.feature_name }} 
                  </li>
               </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Apex template Knowledge Base Ends -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header {{ modal_header_color }}">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="kbModal-body" [innerHTML] = this.modal_content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn {{ modal_header_color }} btn-raised white" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</section>
