<!--User Profile Starts-->
<section id="about">
    <div class="row text-left">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="striped-row-layout-basic">User profile</h4>
            </div>
            <div class="card-content">
              <div class="px-3">
                <form class="form form-horizontal striped-rows form-bordered">
                  <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>Registration details</h4>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput1">Email</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput1" class="form-control" value="{{ currentUser.username }}" name="uname"  disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput2">Registered</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput2" class="form-control" value="{{ currentUser.createdDate | date:'yyyy-MM-dd'}}" name="reg_status" disabled>
                      </div>
                    </div>
        
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput3">New password</label>
                      <div class="col-md-9">
                        <input type="password" id="projectinput3" class="form-control" #fnewpass placeholder="New password" name="newpass" value="" minlength="8">
                        <div *ngIf="flagError">
                            <div>Passwords must match and be at least 6 charaters long!</div>
                        </div>
                        <div *ngIf="flagComplete">
                            <div>Password updated!!</div>
                        </div>
                      </div>
                    </div>
        
                    <div class="form-group row last">
                      <label class="col-md-3 label-control" for="projectinput4">Repeat new password</label>
                      <div class="col-md-9">
                        <input type="password" id="projectinput4" class="form-control" #fnewpass2 placeholder="Repeat new password" name="newpass2" value="" minlength="8">
                        <div *ngIf="flagError">
                            <div>Passwords must match and be at least 6 charaters long!</div>
                        </div>
                        <div *ngIf="flagComplete">
                            <div>Password updated!!</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions right">
                        <button type="button" class="btn btn-raised btn-primary" (click)="onPassSubmit(fnewpass.value, fnewpass2.value)">
                            <i class="fa fa-check-square-o"></i> Change password
                        </button>
                    </div>
                    <h4 class="form-section"><i class="ft-file-text"></i> Membership</h4>
        
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="projectinput5">Status</label>
                      <div class="col-md-9">
                        <input type="text" id="projectinput5" class="form-control" placeholder="{{ currentUser.status }}" name="membership" disabled>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>