<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="media profil-cover-details row">
                    <div class="col-5">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="{{specs_about_general.img_center}}" class="rounded-circle img-border width-100" alt="Card image">
                            </a>
                        </div>
                    </div>
                    <div class="col-5">                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="About">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="text-bold-500 primary" *ngIf="specs_about_tab1_header">  {{ specs_about_tab1_header.tab_subheader }} </span>
                            <span class="d-block overflow-hidden" *ngIf="specs_about_tab1_header">
                                {{ specs_about_tab1_header.tab_subdetails }}
                            </span>
                        </div>
                        
                        <div *ngFor="let t_item of specs_about_tab1_details">
                            <hr>
                            <div class="row" >
                                <div class="col-sm-3">
                                    <span class="text-bold-500 primary"><a><i class="{{ t_item.tab_subheader_icon }} font-small-3"></i> {{ t_item.tab_subheader }}</a></span>
                                </div>
                                <div class="col-sm-9">
                                    <span class="d-block overflow-hidden"> {{ t_item.tab_subdetails }}
                                    </span>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="d-block overflow-hidden">Status:</span>
                                </div>
                                <div class="col-sm-9">
                                    <span class="d-block overflow-hidden" [innerHTML] = "t_item.tab_status"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Contacts">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngFor="let t_item of specs_about_tab4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="primary text-bold-500"><a><i class="{{ t_item.entry_icon }} font-small-3"></i>{{ t_item.entry_title }}</a></span>
                                        <span class="line-height-2 d-block overflow-hidden">{{ t_item.entry_email }}<span class="primary text-bold-500">@</span>AlphaHuntsman.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>