<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/background-about.png') 75%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-5">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="assets/img/portrait/avatars/avatar-about.png" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                    </div>
                    <div class="col-5">                        
                    </div>                    
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 ">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('Story')" [ngClass]="currentPage === 'Story' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Story</a>
                                </li>
                                <li>
                                    <a (click)="showPage('TimeLine')" [ngClass]="currentPage === 'TimeLine' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Timeline</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center">
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('Team')" [ngClass]="currentPage === 'Team' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Team</a>
                                </li>
                                <li>
                                    <a (click)="showPage('Contacts')" [ngClass]="currentPage === 'Contacts' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="story" *ngIf="currentPage === 'Story'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Story</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="text-bold-500 primary">Philosophy:</span>
                            <span class="d-block overflow-hidden">
                                Ability to access complex analytics previously limited due to entry barrier is becoming easier as computational power is becoming more abbandant.
                                Yet most of economic scenarios and insights are still generated by rather dated models while central bank models are too resource intensive for practical problems.
                                Alpha huntsman project intends to provide access to complex analytics to formulate more informative decisions based on economic forces.
                                Fundamentally, we believe that economic forces drive financial performance of all companies.
                                Hence, to solve financial problems - we project them into our Atlas economic engine with numerous applications.
                                For example, financial and economics news sources are relying on the old business model of selling data and one-off new articles. 
                                However, key themes are often revised with analytics present often discarded and modified with continiuity. 
                                Wouldn't it be great if we could translate fundamental economic developments into quantifable measures and apply that on our portfolio or private company analytics?
                                That's the problem we are aiming to solve.
                            </span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="text-bold-500 primary"><a><i class="ft-map font-small-3"></i> Atlas:</a></span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden"> Our proprietary global economy engine coverng 41 countries simultanously and based of more than 35k variables. 
                                Contrary to popular approaches - all countries are modelled simultanously under assumption of high interconnectiveness.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="d-block overflow-hidden">Status:</span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden">In development</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="text-bold-500 primary"><a><i class="ft-thermometer font-small-3"></i> Beta engine:</a></span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden"> Beta represents a measure of co-movement between variable of interest and underlying variate. 
                                Financial measures are decomposed to underlying key unobservable drivers. Performance is attributed to structural grouping: countries, sectors and industries.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="d-block overflow-hidden">Status:</span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden">Scheduled for <span class="primary text-bold-500">2020H1</span></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="text-bold-500 primary"><a><i class="fa-signal font-small-3"></i> Mu Engine:</a></span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden"> Mu represents an average growth over time that is not explained by beta engine. 
                                Our view is that drift rate is driven by individual company performance. 
                                Individual performance is attributable by Atlas and forms the base of our strategic views.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="d-block overflow-hidden">Status:</span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden">Scheduled for <span class="primary text-bold-500">2020H2</span></span>
                            </div>
                        </div>                           
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="text-bold-500 primary"><a><i class="fa-signal font-small-3"></i> Omega Engine:</a></span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden"> Omega represents interconnectiveness of the set of assets. 
                                Ensuring efficient and robust select of weights allows to formulate superior portfolio decisions. 
                                Our view is that portfolio decisions should be formed by incorporating a wide range of what-if scenarios, similar how U.S. Federal Reserves evaluates policy appropriateness.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="d-block overflow-hidden">Status:</span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden">Scheduled for <span class="primary text-bold-500">2021H1</span></span>
                            </div>
                        </div>                           
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="text-bold-500 primary"><a><i class="fa-signal font-small-3"></i> Alpha engine:</a></span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden"> 
                                    Alpha is the deviation of measure of interest that will move towards the fundamental level. 
                                    Our views is that over medium horizon financial measures follow underlying economic forces.
                                    Individual equities move mainly during earnings releases but earnings is just a hidden variable driven by economic fundamentals. 
                                    Over time and on average - fundamentals pervail.
                                    For example, tossing a fair coin and observing 100 heads in a row. 
                                    Next toss is equiprobable but, unlike coins, socio-economic fundamentals tends to converge faster to conditional means.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="d-block overflow-hidden">Status:</span>
                            </div>
                            <div class="col-sm-9">
                                <span class="d-block overflow-hidden">Scheduled for <span class="primary text-bold-500">2021H2</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="currentPage === 'TimeLine'">   
    <div class="row">
        <div class="col-12">
            <div class="content-header">Project Timeline</div>
        </div>
    </div>
    <div id="timeline" class="timeline-center timeline-wrapper">
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Today</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-item">
                <div class="timeline-badge">
                <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Infrastructure Development"><i class="fa ft-cpu"></i></span>
                </div>
                <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                    <h4 class="mb-0 card-title"><a>Infrastructure Development</a></h4>
                </div>
                <div class="card-content">
                    <img class="img-fluid" src="assets/img/photos/06.jpg" alt="Timeline Image 1">
                    <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">
                            Development of key distribution platform and global economic model. Key business processes establishment. Revenue channel implementation ensuring uninterupted scalability.
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <!-- 2018 -->
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2018</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li><!-- /.timeline-line -->
            <li class="timeline-item">
                <div class="timeline-badge">
                <span class="bg-teal bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Early Prototyping"><i class="fa icon-chemistry"></i></span>
                </div>
                <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                    <h4 class="mb-0 card-title"><a>Early Prototyping</a></h4>
                </div>
                <div class="card-content">
                    <img class="img-fluid" src="assets/img/photos/09.jpg" alt="Timeline Image 1">
                    <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">
                            Bridging the gap between ideas on paper and implementable solutions. Trimming off unnecessary features and rethinking coverage. Testing out early prototypes for business applicability.
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="timeline-item mt-5">
                <div class="timeline-badge">
                <span class="bg-green bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Ideation"><i class="fa icon-rocket"></i></span>
                </div>
                <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                    <h4 class="mb-0 card-title"><a>Ideation</a></h4>
                </div>
                <div class="card-content">
                    <img class="img-fluid" src="assets/img/photos/04.jpg" alt="Timeline Image 1">
                    <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">Aggregation of thoughts into a clear productization path after multiple years of ideation.</p>
                        <blockquote class="blockquote text-right">
                            Knowing where you are going is the first step to getting there
                            <div class="blockquote-footer">
                                <cite>Ken Blanchard</cite>
                            </div>
                        </blockquote>
                    </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2017</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2016</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2015</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Founded in 2014</a>
            </li>
        </ul>
    </div>
</section>


<section id="team" *ngIf="currentPage === 'Team'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Team</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header text-center">
                    <img src="./assets/img/portrait/small/avatar-fitzgerald.png" alt="Brek" width="150" class="rounded-circle gradient-mint">
                </div>
                <div class="card-content">
                    <div class="card-body text-center">
                        <h4 class="card-title">Fitzgerald</h4>
                        <p class="category text-gray font-small-4">Bossman. Co-Founder</p>
                        <hr class="grey">
                        <div class="row grey">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <a><span>Single-tasking hero, spirit animal</span></a>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header text-center">
                    <img src="./assets/img/portrait/small/avatar-agne.png" alt="Brek" width="150" class="rounded-circle gradient-mint">
                </div>
                <div class="card-content">
                    <div class="card-body text-center">
                        <h4 class="card-title">Agne</h4>
                        <p class="category text-gray font-small-4">Co-Founder</p>
                        <hr class="grey">
                        <div class="row grey">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <a><span>Snackies master, know-it-all and ring bearer</span></a>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header text-center">
                    <img src="./assets/img/portrait/small/avatar-liutauras.png" alt="Brek" width="150" class="rounded-circle gradient-mint">
                </div>
                <div class="card-content">
                    <div class="card-body text-center">
                        <h4 class="card-title">Liutauras</h4>
                        <p class="category text-gray font-small-4">Co-Founder</p>
                        <hr class="grey">
                        <div class="row grey">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <a><span>Code monkey, python ninja</span></a>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contacts" *ngIf="currentPage === 'Contacts'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Contacts</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="primary text-bold-500"><a><i class="ft-github font-small-3"></i> General Inquiries</a></span>
                                        <span class="line-height-2 d-block overflow-hidden">Inquiries<span class="primary text-bold-500">@</span>AlphaHuntsman.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="primary text-bold-500"><a><i class="ft-activity font-small-3"></i> Technical Issues</a></span>
                                        <span class="line-height-2 d-block overflow-hidden">Technical<span class="primary text-bold-500">@</span>AlphaHuntsman.com </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="primary text-bold-500"><a><i class="icon-moustache font-small-3"></i> Professional Pricing</a></span>
                                        <span class="line-height-2 d-block overflow-hidden">Pricing<span class="primary text-bold-500">@</span>AlphaHuntsman.com </span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>