
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
			</div>
			<div class="card-content">
				<div class="card-body">
					<div class="chart-info mb-3 ml-3">
					</div>
					<div id="line-area" *ngIf="countryList" class="height-650 lineArea">
    					<div [chart]="mapChart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<section id="hoverable-rows">
			<div class="row text-left">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<div ngbDropdown>
								<button class="btn btn-outline-primary mr-1" id="dropdownCountry" ngbDropdownToggle>{{ countrySelected }}</button>
								<div ngbDropdownMenu aria-labelledby="dropdownCountry">
									<button class="dropdown-item" *ngFor="let stop_country of countryList" (click)="countrySelectorDrop(stop_country)" >{{stop_country}}</button>
								</div>
							</div>
						</div>
						<div class="card-content" *ngIf="currentCountryDetailsQoQ">
							<div class="card-header">
								Refreshed at: <span class="primary text-bold-500">{{ refreshDate |  date:'yyyy-MM-dd HH:mm' }}</span>
							</div>
							<div class="card-body" *ngIf="currentCountryDetailsQoQ.series">
								<table class="table table-sm">
									<thead>
										<tr *ngIf="currentCountryDetailsQoQ.series[0]">
											<th>{{currentCountryDetailsQoQ.series_format}}</th>
											<th>{{currentCountryDetailsQoQ.series[0].stamp_tm2}}</th>
											<th>{{currentCountryDetailsQoQ.series[0].stamp_tm1}}</th>
											<th>{{currentCountryDetailsQoQ.series[0].stamp_tm0}}</th>
											<th>{{currentCountryDetailsQoQ.series[0].stamp_tp1}}</th>
											<th>{{currentCountryDetailsQoQ.series[0].stamp_tp2}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let t_item_d of currentCountryDetailsQoQ.series">
											<th scope="row"><a (click)="GetDetails(content, t_item_d.series_name, t_item_d.series_format)" class="card-link primary">{{t_item_d.series_name}}</a></th>
											<td>{{t_item_d.value_tm2}}</td>
											<td>{{t_item_d.value_tm1}}</td>
											<td>{{t_item_d.value_tm0}}</td>
											<td>{{t_item_d.value_tp1}}</td>
											<td>{{t_item_d.value_tp2}}</td>
										</tr>
									</tbody>
								</table>
								<table class="table table-sm" *ngIf="currentCountryDetailsYoY.series">
									<thead>
										<tr *ngIf="currentCountryDetailsYoY.series[0]">
											<th>{{currentCountryDetailsYoY.series_format}}</th>
											<th>{{currentCountryDetailsYoY.series[0].stamp_tm2}}</th>
											<th>{{currentCountryDetailsYoY.series[0].stamp_tm1}}</th>
											<th>{{currentCountryDetailsYoY.series[0].stamp_tm0}}</th>
											<th>{{currentCountryDetailsYoY.series[0].stamp_tp1}}</th>
											<th>{{currentCountryDetailsYoY.series[0].stamp_tp2}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let t_item_d of currentCountryDetailsYoY.series">
											<th scope="row"><a (click)="GetDetails(content, t_item_d.series_name, t_item_d.series_format)" class="card-link primary">{{t_item_d.series_name}}</a></th>
											<td>{{t_item_d.value_tm2}}</td>
											<td>{{t_item_d.value_tm1}}</td>
											<td>{{t_item_d.value_tm0}}</td>
											<td>{{t_item_d.value_tp1}}</td>
											<td>{{t_item_d.value_tp2}}</td>
										</tr>
									</tbody>
								</table>
								<div class="row">
									<div class="col-5">
										<div *ngIf="flag_factors" [chart]="mapKey"></div>
									</div>
									<div class="col-7">
										<div *ngIf="flag_cycles" [chart]="cycleTracker"></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<ng-template #content let-c="close" let-d="dismiss">
				<div class="modal-header bg-primary">
					<h4 class="modal-title white">{{title}}</h4>
					<button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="kbModal-body">
					<div id="line-area" class="lineArea" *ngIf="modal_data_mean">
						<div [chart]="lineChart"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-raised" (click)="c('Close click')">Close</button>
				</div>
			</ng-template>
		</section>
	</div>
</div>


