<!--Under Maintenance Starts-->
<section id="maintenance" class="full-height-vh">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../../../assets/img/gallery/maintenance.png" alt="" class="img-fluid maintenance-img mt-2"
              height="300" width="400">
            <h1 class="text-white mt-4">Under Maintenance!</h1>
            <div class="w-75 mx-auto maintenance-text mt-3">
              <p class="text-white">A set of low skilled and unmotivated individuals are investigating this issue right now and will resolve it at the latest possible time. 
              Thank you for your understanding!.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Under Maintenance Starts-->
