<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Supporting us </div>
    <p class="content-sub-header">If you find our analytics insightful and would like to support this project, please consider the options below. 
    In returns, you'll receive access to a broader scope of insights and we will do your best to keep them up-to-date and relevant.</p>
  </div>
</div>
<section id="kb">
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="ft-bell font-large-1 float-left mr-2"></i>
          <h4 class="card-title mb-0">Enthusiat</h4>
          <p class="card-text">Personal usecase</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ul class="list-group">
              <div *ngFor="let t_item of specs_pricing_free">
                <!-- (click)="GetDetails(content, t_item.feature_name, t_item.access_type)"</template-comment> -->
                <li class="list-group-item cursor-pointer" >
                  <span class="badge  {{ t_item.feature_color }} float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> {{ t_item.feature_name }}
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <fieldset disabled>
            <a href="javascript:void(0)" class="btn btn-primary mt-2 btn-lg btn-block btn-raised" disabled="disabled">Soon</a>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="ft-book font-large-1 float-left mr-2"></i>
          <h4 class="card-title">Professional</h4>
          <p class="card-text">Professional usecase</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ul class="list-group">
              <div *ngFor="let t_item of specs_pricing_personal">
                <li class="list-group-item cursor-pointer">
                  <span class="badge  {{ t_item.feature_color }} float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> {{ t_item.feature_name }}
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <fieldset disabled>
            <a href="javascript:void(0)" class="btn btn-danger btn-lg btn-block btn-raised">Soon</a>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="ft-file-text text-white font-large-1 float-left mr-2"></i>
          <h4 class="card-title">Commercial</h4>
          <p class="card-text">Commercial usecase</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ul class="list-group">
              <div *ngFor="let t_item of specs_pricing_pro">
                <li class="list-group-item cursor-pointer">
                  <span class="badge  {{ t_item.feature_color }} float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> {{ t_item.feature_name }}
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <fieldset disabled>
            <a href="javascript:void(0)" class="btn btn-secondary mt-2 btn-lg btn-block btn-raised">Soon</a>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header {{ modal_header_color }}">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="kbModal-body" [innerHTML] = this.modal_content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn {{ modal_header_color }} btn-raised white" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</section>
